@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-white;
  }
  
  /* Кастомный скроллбар */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #594BDB;
  }
}

/* Утилита для скрытия скролла */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}